<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-signin' }) do |f| %>
  <h2 class="form-signin-heading"><%= t('.site_enter') %></h2>

  <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "input-block-level" %>

  <%= f.password_field :password, :placeholder => t('.password'), :class => "input-block-level" %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox"><%= f.check_box :remember_me %> <%= t('.remember_me') %>
    </label>
  <% end -%>

  <%= f.submit t('.enter'), :class => "btn btn-large" %>
<% end %>

