<%= form_for(@word, validate: true) do |f| %>
  <div class="form-body">
    <%= f.text_field :word, placeholder: t('.word'), class: "input-block-level", id: "input_word" %>
    <a target="_blank" id="lingvo_link" href="http://www.lingvo.ua/uk/Translate/en-uk/"><%= t('.look_translation_on_lingvo') %></a><br/><br/>

    <%= f.text_field :translation, placeholder: t('.translation'), class: "input-block-level" %><br/><br/>

    <%= t('.picture') %>:
    <%= f.file_field :image %><br/><br/>

    <%= f.text_area :example, placeholder: t('.example'), class: "input-block-level", rows: 5 %>
  </div>

  <div class="form-footer">
    <%= link_to t('.close'), '#', id: "close_form_btn", class: "btn", role: "button" %>
    <%= f.submit t('.save'), id: "save_form_btn", class: "btn btn-primary" %>
  </div>
<% end %>
