<div class="row content">

  <div class="span12">

    <p class="text-right"><%= t('.words_count') %>: <strong><%= @words_count %></strong></p>

    <%= form_tag words_path, method: 'get', id: "words_search", class: "form-search" do %>
      <%= text_field_tag :search, params[:search], class: "input-xlarge", placeholder: t('.search_word') %> <%= t('.or') %>
      <%= link_to t('.add_new_word'), new_word_path, id: "add_link", class: "btn", role: "button", remote: true %>
    <% end %>

    <div id="words">
      <%= render 'words' %>
      <br />
    </div>

  </div>

</div>