<!DOCTYPE html>
<html>
<head>
  <title>Rich Lang</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="masthead">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'Rich Lang', root_path, class: "brand" %>
	        <% if user_signed_in? %>
            <p class="navbar-text pull-right">
              <%= t('.hello') %>, <%= link_to current_user.name, edit_user_registration_path, class: "navbar-link" %> |
              <%= link_to t('.exit'), destroy_user_session_path, method: :delete, class: "navbar-link" %>
            </p>

            <ul class="nav">
              <li><%= link_to t('.dictionary'), words_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.training') %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to t('.word-translation'), '#' %></li>
                  <li><%= link_to t('.translation-word'), '#' %></li>
                </ul>
              </li>
            </ul>

        <% else %>
            <p class="navbar-text pull-right">
              <%= link_to t('.entrance'), new_user_session_path, class: "navbar-link" %> або
              <%= link_to t('.register'), new_user_registration_path, class: "navbar-link" %>
            </p>
	        <% end %>
        </div>
      </div>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end %>

	<%= yield %>

  <hr>

  <div class="footer">
    <p>© Rich Lang, 2013</p>
  </div>

</div>

</body>
</html>
